<div id='header-container'>
  <div id='header-box'>
    <div id='header-text'>
      <h1>CITIZENS</h1>
    </div>
  </div>
</div>
<div id='navbar'>
  <div id='nav-links'>
    <div class='nav-link'>
      <%= link_to 'Home', root_path %>
    </div>
    <div class='nav-link'>
      <%= link_to 'People', people_path %>
    </div>
    <div class='nav-link'>
      <%= link_to '+ Add Person', new_person_path %>
    </div>
  </div>
</div>